In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
import joblib

In [9]:
df = pd.read_csv('games.csv')
df = df[['rated', 'turns', 'victory_status', 'winner', 'increment_code', 'white_rating', 'black_rating', 'opening_eco', 'opening_ply']]
df.head()

,rated,turns,victory_status,winner,increment_code,white_rating,black_rating,opening_eco,opening_ply
0,False,13,outoftime,white,15+2,1500,1191,D10,5
1,True,16,resign,black,5+10,1322,1261,B00,4
2,True,61,mate,white,5+10,1496,1500,C20,3
3,True,61,mate,white,20+0,1439,1454,D02,3
4,True,95,mate,white,30+3,1523,1469,C41,5

In [10]:
encoders = {}
for column in ['rated', 'victory_status', 'winner',
                'increment_code', 'opening_eco']:
    categorical_convert = LabelEncoder()
    df[column] = categorical_convert.fit_transform(df[column])
    encoders[column] = categorical_convert

print(df)

       rated  turns  victory_status  winner  increment_code  white_rating  \
0          0     13               2       2             110          1500
1          1     16               3       0             298          1322
2          1     61               1       2             298          1496
3          1     61               1       2             187          1439
4          1     95               1       2             247          1523
...      ...    ...             ...     ...             ...           ...
20053      1     24               3       2              21          1691
20054      1     82               1       0              19          1233
20055      1     35               1       2              19          1219
20056      1    109               3       2              19          1360
20057      1     78               1       0              19          1235

       black_rating  opening_eco  opening_ply
0              1191          248            5
1              1261           71            4
2              1500          171            3
3              1454          241            3
4              1469          192            5
...             ...          ...          ...
20053          1220           61            2
20054          1196           37            2
20055          1286          239            3
20056          1227           78            4
20057          1339          239            3

[20058 rows x 9 columns]

In [18]:
km = KMeans(n_clusters=3, init='random', n_init=10, max_iter=300, tol=1e-04, random_state=0)
y_km = km.fit_predict(df)
print(km.cluster_centers_)
print(y_km)

[[7.97252433e-01 6.17790498e+01 2.15706926e+00 1.04659416e+00
  1.24254837e+02 1.60661408e+03 1.59529914e+03 1.43745507e+02
  4.78637665e+00]
 [8.21392533e-01 6.71697275e+01 2.32088799e+00 1.02623613e+00
  1.19997376e+02 1.94933522e+03 1.94428597e+03 1.41709788e+02
  5.95963673e+00]
 [8.04177136e-01 5.34486495e+01 2.00753769e+00 1.05606156e+00
  1.29540986e+02 1.30849749e+03 1.30337893e+03 1.34303235e+02
  3.96984925e+00]]
[2 2 0 ... 2 2 2]